{
    :config_browser => 'chrome',
    :config_environment => 'local',
    :config_grid => false,
    :config_url_buildverification => 'http://motd-buildverification.agiletrailblazers.com/',
    :config_url_local => 'http://localhost:3000',
    :config_url_dev => 'http://motd-dev.agiletrailblazers.com/',
    :config_url_prod => 'http://motd.agiletrailblazers.com/',
    :config_hub => 'http://jenkins.agiletrailblazers.com:4444/wd/hub'
}
